<div ng-controller="ProjectsCtrl">
  <%= render "modals/project_settings" %>
  <%= render "modals/project_log" %>
  <div class="page-header">
    <h1>Projects</h1>
  </div>

  <form ng-controller="NewProjectFormCtrl" ng-submit="submitNewProject()" ng-model="newProject">
    <%= text_field_tag :name, nil, required: true, placeholder: "new project name", "ng-model" => "newProject.name" %>
  </form>
  
  <ul class="projects">
    <li class="project" ng-repeat="project in projects">
      <div class="name" ng-bind="project.name"></div>
      <div class="git-path" ng-bind="project.git_path"></div>

      <div class="btn-group">
        <%= link_to "Git Log", "", "ng-click" => "openLog(project)", class: "btn btn-small" %>
        <%= link_to "Settings", "", "ng-click" => "openSettings(project)", class: "btn btn-small" %>
        <%= link_to "Delete", "", "ng-click" => "deleteProject(project)", class: "btn btn-small btn-danger" %>
      </div>
    </li>
  </ul>
</div>
